{% extends 'base.html' %}

{% block content %}
    {% for post in page_obj %}
        <article>
            <hgroup>
                <h2><a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a></h2>
                <h3>
                    Em <time pubdate datetime="{{ post.data_publicacao|date:"Y-m-d\TH:m\Z" }}">{{ post.data_publicacao }}</time>
                    por {{ post.autor|capfirst }}
                </h3>
            </hgroup>
            {{ post.conteudo }}
            <div class="tags">
                <strong>Tags: </strong>{% for tag in post.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>
        </article>
    {% empty %}
        <article>
            <h2>Não há artigos</h2>
        </article>
    {% endfor %}
{% endblock %}