{% extends 'base.html' %}
{% load i18n %}
{% block nav %}
    {{ block.super }}
    {% if not CREATE %}
        <li class="menu-alterar"><a href="/alterar/{{ object.pk }}">{% trans "Alterar" %}</a></li>
        <li class="menu-excluir"><a href="/excluir/{{ object.pk }}">{% trans "Excluir" %}</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if CREATE %}
        <h3>{% trans "Criar" %}</h3>
    {% else %}
        <h3>{% trans "Alterar" %}</h3>
    {% endif %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Salvar">
    </form>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            {% if CREATE %}
                $("li.menu-criar").addClass("active");
            {% else %}
                $("li.menu-alterar").addClass("active");
            {% endif %}
        });
    </script>
{% endblock %}