{% extends 'base.html' %}
{% block author %}{{ object.autor }}{% endblock %}
{% block description %}{{ object.titulo }}{% endblock %}
{% block keywords %}{% for tag in object.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% block nav %}
    {{ block.super }}
    <a href="/alterar/{{ object.pk }}">Alterar</a>
{% endblock %}
{% block content %}
    <header>
        <hgroup>
            <h2>{{ object.titulo }}</h2>
            <h3>{{ object.sub_titulo }}</h3>
        </hgroup>
        Em <time pubdate datetime="{{ object.data_publicacao|date:"Y-m-d\TH:m\Z" }}">{{ object.data_publicacao }}</time>
        por {{ object.autor|capfirst }}
    </header>
    {{ object.conteudo|escape|linebreaks }}
    <div class="tags">
        <strong>Tags: </strong>
        {% for tag in post.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
{% endblock %}