<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="{% block author %}Mario Chaves <macndesign@gmail.com>{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <title>{% block title %}Base{% endblock %} - Blog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
<header role="banner">
    <h1>01BLG</h1>
    <nav role="navigation">
        {% block nav %}
            <a href="{% url "post:listar" %}">Listar</a>
            <a href="{% url "post:criar" %}">Criar</a>
        {% endblock %}
    </nav>
</header>
<main>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section role="main">{% block content %}{% endblock %}</section>
    <aside>{% block aside %}{% endblock %}</aside>
</main>
<footer role="contentinfo">&copy; 2013 01BLG</footer>
</body>
</html>