{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="{% block author %}Mario Chaves <macndesign@gmail.com>{% endblock %}">
    <meta name="description" content="{% block description %}Blog do Mário sobre tecnologia em HTM5{% endblock %}">
    <meta name="keywords" content="{% block keywords %}blog,html5,mario,tecnologia,web{% endblock %}">
    <title>{% block title %}{% trans "Base" %}{% endblock %} - Blog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
<header role="banner">
    <h1>{% trans "01BLG" %}</h1>
    <nav role="navigation">
        {% block nav %}
            <a href="{% url "post:listar" %}">{% trans "Listar" %}</a>
            <a href="{% url "post:criar" %}">{% trans "Criar" %}</a>
        {% endblock %}
        {% block lang %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
            </form>
        {% endblock %}
    </nav>
</header>
<main>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section role="main">{% block content %}{% endblock %}</section>
    <aside>{% block aside %}{% endblock %}</aside>
</main>
<footer role="contentinfo">&copy; {% trans "2013 01BLG" %}</footer>
</body>
</html>