body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url("../img/sneaker_mesh_fabric.png");
    font-family: 'Maven Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 30px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Select lang */
form.lang {
    float: right;
}

/* Messages */
ul.messages {
    list-style: none;
    margin-left: 0;
}
ul.errorlist {
    list-style: none;
    margin-left: 0;
    color: #b94a48;
}
span.helptext {
    display: block;
    color: #999;
    font-size: 0.8em;
}

/* tags */
div.tags {
    margin: 10px 0 20px;
}

/* Nav */
.nav-tabs.nav-stacked > li > a {
    background-color: rgba(240, 240, 240, 0.5);
}

.nav-tabs.nav-stacked > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.insettext {
    color: #ccc;
    text-shadow: 1px 1px 0 #999;
    font-weight: bold;
    font-size: 1.2em;
}
.insettext:hover {
    color: #eee;
    text-shadow: 1px 1px 0 #bbb;
    text-decoration: none;
}